@font-face {
    font-family: 'Nexa';
    src: url('../assets/nexa-bold.otf');
}

body {
    font-family: 'Nexa';
    background-color: rgb(50, 50, 50);
    color: white;
    margin: 0;
    height: calc(100dvh - 100px);
    padding: 50px;
}

input:focus {
    outline: none;
}

#title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#generic-title {
    font-size: 2em;
}

#add-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    border-radius: 5px;
    cursor: pointer;
    transition: scale cubic-bezier(0,1.5,.75,1) 250ms;
}

#add-button:hover {
    scale: 1.25;
}

#add-button:active {
    scale: 0.9;
}

#payment-header {
    display: flex;
    width: calc(100% - 10px);
    gap: 5px;
    margin-bottom: 5px;
}

#payment-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

div[payment] {
    display: flex;
    gap: 5px;
    width: calc(100% - 10px);
}

div[payment] div, #payment-header div {
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    background-color: rgb(40, 40, 40);
    padding: 5px;
    width: 100%;
}

div[payment] div *, #payment-header div * {
    width: 100%;
    white-space: nowrap;
}

div[payment-input] {
    display: flex;
    gap: 5px;
    width: calc(100% - 10px);
}

div[payment-input] div {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    width: 100%;
}

div[payment-input] div:nth-child(2) {
    width: calc(50% - 10px);
}

div[payment-input] div div {
    width: 50%;
}

div[payment-input] input {
    background: transparent;
    border: none;
    width: 100%;
}

div[payment-input] button {
    width: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    background-color: rgb(100, 100, 100);
}
